:root {
  /* Primary */
  --Light-red: hsl(0, 100%, 67%, 20%);
  --Orangey-yellow: hsl(39, 100%, 56%, 20%);
  --Green-teal: hsl(166, 100%, 37%, 20%);
  --Cobalt-blue: hsl(234, 85%, 45%, 20%);

  /* Gradients */
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  background-color: cornflowerblue;
  font-family: "Hanken Grotesk", sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}
.card__container {
  width: 100%;
  max-width: 375px;

  background-color: var(--White);
}
.top__section {
  background: linear-gradient(to bottom, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
  border-radius: 0 0 1.87em 1.87em;
  overflow: hidden;
}
.top__section h2 {
  margin: 0;
  text-align: center;
  font-size: 1.13rem;
  color: rgba(255, 255, 255, 0.573);
  text-transform: capitalize;
  padding-top: 1.56em;
  margin-bottom: 1.75em;
}
.circle {
  display: grid;
  place-content: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  width: 8.75em;
  height: 8.75em;
  background: linear-gradient(to bottom, var(--Violet-blue-circle), var(--Persian-blue-circle));
}
.circle p {
  font-size: 3.36rem;
  margin: 0;
  color: var(--White);
}
.circle span {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.52);
  margin-top: 0.4em;
}

.title__description h1,
p {
  text-align: center;
  margin-bottom: 0;
}
.title__description h1 {
  font-size: 1.6rem;
  color: var(--White);
}
.title__description p {
  color: rgba(255, 255, 255, 0.51);
  text-indent: 0.3em;
  margin: 0 50px;
  margin-bottom: 2.8em;
  margin-top: 0.8em;
}
.bottom__section h3 {
  margin-left: 2em;
}

.statistic {
  margin: 0 auto;
  width: 100%;
  max-width: 315px;
  display: flex;
  height: 3.5em;
  margin-bottom: 1em;
  border-radius: 0.56em;
  justify-content: space-between;
}
.icon {
  display: flex;
}
.icon img {
  width: 1.2em;
  margin-left: 0.8em;
}
.icon p {
  margin: 1.2em 0 1.2em 0.5em;
  text-transform: capitalize;
}
.result p {
  color: black;
  margin: 1.2em 1em 1.2em 0;
}

.statistic---red {
  color: hsl(0, 100%, 67%);
  background-color: var(--Light-red);
}
.statistic---orange {
  color: hsl(39, 100%, 56%);
  background-color: var(--Orangey-yellow);
}
.statistic---green {
  color: hsl(166, 100%, 37%);
  background-color: var(--Green-teal);
}
.statistic---blue {
  background-color: var(--Cobalt-blue);
  color: hsl(234, 85%, 45%);
}
.bottom {
  overflow: hidden;
  margin-top: 1.5em;
  width: 100%;
  margin-bottom: 2em;
}
.bottom a {
  padding: 0.9em 0;
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--White);
  margin: 0 auto;
  display: block;
  background-color: var(--Dark-gray-blue);
  max-width: 315px;
  width: 100%;
  text-decoration: none;
  border-radius: 1.7em;
}
